{% extends 'global/base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_field %}
{% block content %}

    <div class="container">
        <p class="h3">Edit event</p>


        <form action='.' method='POST' enctype="multipart/form-data">{% csrf_token %}
            {% for field in form %}
                {% if field|is_checkbox %}
                    <div class="form-group form-check">
                        {% render_field field class="form-check-input" %}
                        <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% render_field field class="form-control" placeholder=field.label %}
                        <div class="{% if field.errors %} invalid{% endif %}">
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" href="../" role="button">Cancel</a>
        </form>

    </div>

{% endblock %}
