{% extends 'global/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-3">Events</h1>
				<div class="row justify-content">

				{% if user.is_staff_event %}
        	{% for instance in object_list %}
						{% if user in instance.staff.all %}
          	  <div class="card mb-3 col-5">
            	    <img class="card-img-top" alt="Card image cap" src="{% if instance.image %} {{ instance.image.url }} {% endif %}">
              	  <div class="card-body">
                	    <h5 class="card-title">{{ instance.title }}</h5>
                  	  <p class="card-text">{{ instance.description|truncatewords:30 }}</p>
											<p><strong>Tags:</strong>
											{% for tag in instance.tags.all %}
												{{tag.name}}
											{% endfor %}
											</p>
                    	<a href="{% url 'events:detail' instance.id %}" class="btn btn-info">Read more</a>
                	</div>
            	</div>
						{%endif%}
        	{% endfor %}

					{%else%}
        	{% for instance in object_list %}
          	  <div class="card mb-3 col-5">
            	    <img class="card-img-top" alt="Card image cap" src="{% if instance.image %} {{ instance.image.url }} {% endif %}">
              	  <div class="card-body">
                	    <h5 class="card-title">{{ instance.title }}</h5>
                  	  <p class="card-text">{{ instance.description|truncatewords:30 }}</p>
											<p><strong>Tags:</strong>
											{% for tag in instance.tags.all %}
												{{tag.name}}
											{% endfor %}
											</p>
                    	<a href="{% url 'events:detail' instance.id %}" class="btn btn-info">Read more</a>
                	</div>
            	</div>
        	{% endfor %}
				{% endif %}
				</div>
    </div>
{% endblock %}
