beautifulsoup4==4.8.1
Django==2.2.5
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-modal-forms==1.4.4
django-bootstrap4==1.0.1
django-crispy-forms==1.7.2
django-fontawesome-5==1.0.16
django-widget-tweaks==1.4.5
Pillow==6.2.0
pytz==2019.2
soupsieve==1.9.4
sqlparse==0.3.0
