<!doctype html>
<html lang="en">
<head>
		{{ form.media }}
    {% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
    {% load fontawesome_5 %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required static files -->
    {% load static %}
    <!-- Fontawesome CSS -->
    {% fontawesome_5_static %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>{{ title }}</title>
    {% bootstrap_css %} {# Embed Bootstrap CSS #}
    {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
		<link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/dot-luv/jquery-ui.css' %}' />
		<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/timepicker@1.12.0/jquery.timepicker.min.css' />
</head>
<body>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand mr-lg-5 text-primary" href="{% url 'index' %}">
            INFO {% fa5_icon 'cat' 'fas' %} PUMA
        </a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {{ index }}">
                    <a class="nav-link"
                       href="{% url 'index' %}">Home</a>
                </li>
                <!--<li class="nav-item {{ about }}">
                    <a class="nav-link"
                       href="{% url 'about' %}">About</a>
                </li>-->
                <li class="nav-item {{ events }}">
                    <a class="nav-link"
                       href="{% url 'events:list' %}">Events</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {{ profile }}">
                        <a class="nav-link"
                           href="{% url 'accounts:profile' %}">Profile</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Links -->
            <div class="btn-toolbar mt-2 text-light" role="toolbar">
							{% if user.is_authenticated %}
                <form action="{% url 'events:search' %}" class="mr-2 mb-2">
                    <div class="input-group" role="group">
                        <input type="search" class="form-control" placeholder="Search events..."
                               aria-label="Search events" id="search" name="search">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="submit">
                                {% fa5_icon 'search' 'fas' %}
                            </button>
                        </div>
                    </div>
                </form>
								{% endif %}
                <div class="btn-group mb-2" role="group">
                    {% if user.is_authenticated %}
                        <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Log out</a>
                        <button type="button"
                                class="btn btn-light dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
														{%if user.is_unam_community %}
				<a class="dropdown-item" href="{% url 'accounts:view_event_history'%}">Event history</a>
														{% endif %}
                            {% if user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'accounts:create_staff_user' %}">Add a Host</a>
                            {% endif %}
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'events:create' %}">Create event</a>
                            {% endif %}
														{% if user.is_staff %}
                            <a class="dropdown-item" href="{% url 'events:my_events' %}">My events</a>
														{% endif %}
                        </div>
                    {% else %}
                        <a class="login-btn btn btn-info">Log in</a>
                        <a class="signup-btn btn btn-info">Sign up</a>
                    {% endif %}
                </div>
                <!-- Collapsible content -->
            </div>
        </div>
    </div>
</nav>
<!--Navbar-->
<div class="container mt-3">
    {% bootstrap_messages %}
</div>
{% block content %}
{% endblock %}
<!-- JS -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script type="text/javascript">
    $.urlParam = function (name) {
        let results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        } else {
            return results[1] || 0;
        }
    };
    $(function () {
        // Log in button
        let loginBtn = $(".login-btn");
        let next = $.urlParam('next');
        loginBtn.modalForm({formURL: "{% url 'accounts:login' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}"});
        if (next) {
            loginBtn.click();
        }
    });
    $(function () {
        // Sign up button
        $(".signup-btn").modalForm({formURL: "{% url 'accounts:signup' %}"});
    });
</script>
<script type='text/javascript' src='{% static 'js/jquery-ui.js' %}'></script>
<script src="https://cdn.jsdelivr.net/npm/timepicker@1.12.0/jquery.timepicker.min.js"></script>
</body>
</html>
